.coinCont {
  display: flex;
  justify-content: center;
}
.coinRow {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin h1 {
  font-size: 16px;
  width: 150px;
}

.coinSymbol {
  text-transform: uppercase;
}
.coinData {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.coinPrice {
  width: 110px;
}

.coinVolume {
  width: 230px;
}
.coinMarketCap {
  margin-left: 20px;
  width: 230px;
}

.coinPercent {
  width: 100%;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.coinInput ::placeholder {
  font-size: 48px;
  color: red;
}
